<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item no-padding-bottom no-padding-top" href="/">
      <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1500185325/lamb/lamb_nmibmn.png" alt="Young Lamb" width="58">
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item " href="/">
        Home
      </a>
      <a class="navbar-item " href="/posts">
        All Posts
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in?  %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="/documentation/overview/start/">
            <%= current_user.email %>
          </a>
          <div class="navbar-dropdown is-boxed">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
          </div>
        </div>

        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="/posts/new">
              <span class="icon">
                <i class="fa fa-paper-plane "></i>
              </span>
              <span>Post Now</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    <%= link_to 'Login', new_user_session_path %>
    <% end %>

  </div>
</nav>
