<!-- <p id="notice"><%= notice %></p> -->

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @post.title %>
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @post.content %>
      <br>
      <small><%= @post.user.email %></small>
    </div>
  </div>
  <footer class="card-footer">
    <li class="card-footer-item"><%= link_to 'Back', posts_path %></li>
    <li class="card-footer-item"><%= link_to 'Edit', edit_post_path(@post) %></li>
    <li class="card-footer-item"><td><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </footer>
</div>


<div>
  <%= render 'comments/form', comment: @comment, post: @post %>
</div>


<% @comments.each do |comment| %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= comment.user.email %>
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <%= comment.content %>
      <br>
      <small><%= comment.created_at %></small>
    </div>
  </div>
  <footer class="card-footer">
    <li class="card-footer-item"><%= link_to 'Back', posts_path %></li>
    <li class="card-footer-item"><%= link_to 'Edit', edit_post_path(@post) %></li>
    <li class="card-footer-item"><td><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </footer>
</div>
<% end %>
